
.App {
  text-align: center;
  background-color: rgb(232,232,232);
  

}

.App-header {
  background-color: rgb(232,232,232);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.floor {
  flex-direction: row;
  color: black;

}



.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}




h4{
  margin-top: 55px;
  color: black;

}
